.mat-primary {
  background-color: #00aee5 !important;
}

.mat-primary.delete:hover {
  background-color: rgb(250, 0, 0) !important;
}

.mat-badge {
  background-color: #00aee5 !important;
}

.mat-button-wrapper {
  color: white;
}

.upTask {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.upTask .mat-primary {
  color: white;
}

.badge {
  height: 35px;
  margin-bottom: 15px;
}

.container {
  max-width: 100%;
  width: 85%;
  margin: auto;
}

.content { 
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
}

.content p {
  text-align: end;
  font-weight: bold;
}

.card {
  max-width: 100%;
  width: 364.5px;
}

.mat-card-subtitle {
  margin-left: 10px;
}

.subtitle {
  padding-top: 10px;
}

.novo-todo {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  justify-content: end;
  gap: 15px;
}